{% extends "layouts/base.html" %}

{% block title %} Pydoku {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <!-- Hero -->
        <section class="section-header bg-secondary">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 text-center text-md-left">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light px-4 py-5 text-center">
                                <div class="card-header bg-white pb-0">
                                    <h2 class="h1 mb-3">Select an Image of a Sudoku</h2>
                                </div>
                                <div class="card-body pt-2 px-0 px-lg-7">
                                    <p class="mb-5 lead">
                                        Or, select one of the Demos.
                                    </p>
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <form role="form" action="/" method="post" enctype="multipart/form-data">
                                                    <div class="d-flex flex-row justify-content-center">
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input type="file" name="file" class="custom-file-input" id="file" onchange="javascript:this.form.submit();">
                                                                <label class="custom-file-label" for="file">JPG or PNG, max. 6MB</label>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row justify-content-between" id="output"> 
                                        <div class="col-sm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">              
                                        <div class="col-sm">
                                            <a href="/demo/1" class="btn mb-2 mr-2 btn-outline-secondary" type="button">Demo #1</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/demo/2" class="btn mb-2 mr-2 btn-outline-secondary" type="button">Demo #2</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/demo/3" class="btn mb-2 mr-2 btn-outline-secondary" type="button">Demo #3</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/demo/4" class="btn mb-2 mr-2 btn-outline-secondary" type="button">Demo #4</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/demo/5" class="btn mb-2 mr-2 btn-outline-secondary" type="button">Demo #5</a>
                                        </div>                                                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
               </div>
            </div>
            <div class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
               <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                  <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
               </svg>
            </div>
        </section>
        <!-- End of Hero section -->

        <!-- Section -->
        <section class="section section-lg">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    {% if processed %}
                        {% if solved_sudoku %}
                            <div class="alert alert-success" role="alert">
                                <span class="alert-inner--text">{{status}}</span>
                            </div>
                        {% elif solved_sudoku == False %}
                            <div class="alert alert-warning" role="alert">
                                <span class="alert-inner--text">{{status}}</span>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if not processed %}
                        {% if status %}
                            <div class="alert alert-danger" role="alert">
                                <span class="alert-inner--text">{{status}}</span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 my-5 mt-sm-0 d-none d-sm-block">
                        {% if processed == True %}
	                        <div>
		                        <img src="{{ url_for('display_problem') }}">
	                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-xl-6 my-5 mt-sm-0 d-none d-sm-block">
                        {% if solved_sudoku == True %}
	                        <div>
		                        <img src="{{ url_for('display_output') }}">
	                        </div>
                        {% elif processed == True %}
                        <div>
                            <img src="{{ url_for('display_output') }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->


        <!-- Section -->
        <section class="section section-lg bg-soft">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-soft" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
            <div class="container">
                <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                    <h2 id="FAQ" class="h1 mb-4">FAQ</h2>
                </div>
                <div class="accordion" id="accordionExample1">
                    <div class="card card-sm card-body border-light mb-0">
                        <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">What are the minimum requirements?</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-1">
                            <div class="pt-3">
                                <p class="mb-0">
                                    The Sudoku should be a 9x9 Sudoku. Other types of Sudokus are not supported at the moment. The photo should have at least 8MP. The photo should clearly show a Sudoku with all borders.  
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body border-light mb-0">
                        <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">Why can my Sudoku not be solved?</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-2">
                            <div class="pt-3">
                                <p class="mb-0">
                                    This can have several reasons. It could be that it wasn't possible to detect the Sudoku itself in the photo. This can happen due to bad image quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body border-light mb-0">
                        <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">What happens to the file I have uploaded?</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-3">
                            <div class="pt-3">
                                <p class="mb-0">
                                    This service is designed to process the image file on the fly. Files uploaded are not stored on the server.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body border-light mb-0">
                        <a href="#panel-4" data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">I've tried to solve the Sudoku. What about the numbers I have written into the boxes?</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-4">
                            <div class="pt-3">
                                <p class="mb-0">
                                    Hand written numbers are not recognized properly. The app can be extended by integrating a second AI-model which could recognize hand-written numbers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body border-light">
                        <a href="#panel-5" data-target="#panel-5" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">Why does this exists at all?</span>
                            <span class="icon"><i class="fas fa-plus"></i></span>
                        </a>
                        <div class="collapse" id="panel-5">
                            <div class="pt-3">
                                <p class="mb-0">
                                    Actually, to find a solution for a Sudoku is the fun a Sudoku has to offer. Therefor, offering a service that eliminates the fun by offering an automatic solution doesn't make much sense.
                                    But, this app is a pet project of mine that did teach me several technologies a long the way. So, the whole purpose of this app was to provide me obstacles I had to overcome.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
        </section>

        <!-- Section -->
        <section class="section section-lg">
            <div class="container" id="Download">
                <!-- <div class="row justify-content-center"> -->
                <div class="row align-items-center justify-content-around">
                        <!-- Github button -->
                        <a href="https://github.com/HannesHolst1/pydoku" target="_blank" class="btn mb-2 mr-2 btn-lg btn-outline-primary" type="button"><i class="fab fa-github mr-2"></i>Download the code from GitHub</a>
                        <!-- End of Github button -->
                </div>
            </div>
        </section>
        <!-- End of section -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
